Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: format, tests

format:
  run: npx --no-install git-format-staged --formatter 'dprint fmt --stdin "{}"' {staged_files}

tests:
  run: jest --passWithNoTests --findRelatedTests {staged_files}

ci(pr-auto-approve): fixes foe the github-actions workflow
  .github/workflows/repository.yaml
Due: none

chore(deps): update crazy-max/ghaction-import-gpg commit hash to b7c9a01
  .github/workflows/iac.yaml
Due: none

chore(deps): pin peter-evans/enable-pull-request-automerge action to v1.2.0
  .github/workflows/repository.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.148
  package-lock.json
  package.json
Due: format

ci(pr-auto-approve): only auto-approve non-major dependency updates
  .github/workflows/repository.yaml
Due: none

chore(deps): update dependency typescript to v4.6.2
  package-lock.json
  package.json
Due: format

chore: misc
  dprint.json
Due: format

chore(deps): update dependency @pulumi/random to v4.4.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.25.1
  package-lock.json
  package.json
Due: format

chore(deps): update enricomi/publish-unit-test-result-action action to v1.31
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @pulumi/pulumi to v3.26.1
  package-lock.json
  package.json
Due: format

chore(deps): update actions/checkout action to v3
  .github/workflows/code.yaml
  .github/workflows/general.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency dprint to v0.23.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @commitlint/cli to v16.2.3
  package-lock.json
  package.json
Due: format

chore: update renovate configuration
  .github/renovate.json5
Due: none

chore(deps): update dependency @pulumi/random to v4.4.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.160
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/random to v4.4.2
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/github to v4.10.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency typescript to v4.6.3
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.27.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency dprint to v0.24.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency git-format-staged to v3
  package-lock.json
  package.json
Due: format

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update peter-evans/enable-pull-request-automerge action to v2
  .github/workflows/repository.yaml
Due: none

chore(deps): update hmarr/auto-approve-action action to v2.2.0
  .github/workflows/repository.yaml
Due: none

chore(deps): update dependency @pulumi/pulumi to v3.28.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency dprint to v0.24.3
  package-lock.json
  package.json
Due: format

chore(deps): update hmarr/auto-approve-action action to v2.2.1
  .github/workflows/repository.yaml
Due: none

ci: use reusable workflows for the repository ci
  .github/workflows/repository.yaml
Due: none

chore(deps): update github/super-linter digest to ae4e373
  .github/workflows/general.yaml
Due: none

ci: used shared configuration for general ci
  .github/workflows/general.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.165
  package-lock.json
  package.json
Due: format

chore(deps): update dependency dprint to v0.24.4
  package-lock.json
  package.json
Due: format

chore(deps): update tibdex/github-app-token action to v1.5.2
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @pulumi/github to v4.11.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency jest-junit to v13.1.0
  package-lock.json
  package.json
Due: format

feat: moved github repo configuration a component resource
  Pulumi.production.yaml
  src/cloud/github/index.ts
  src/cloud/github/repo.spec.ts
  src/cloud/github/repos.ts
  src/cloud/github/repository.ts
  src/cloud/github/repository_homelab_iac.ts
  state/.pulumi/backups/production/production.1649794932210543000.json
  state/.pulumi/backups/production/production.1649794932210543000.json.attrs
  state/.pulumi/history/production/production-1649794932208045000.checkpoint.json
  state/.pulumi/history/production/production-1649794932208045000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1649794932208045000.history.json
  state/.pulumi/history/production/production-1649794932208045000.history.json.attrs
Due: format, tests

fix: resolved issues with unit tests
  src/cloud/github/repository.spec.ts
Due: format, tests

Path conditions:
  format: any of: *.{ts,js,json,md}, but not: .*-lock.json|.*/state/.*
  tests: any of: *.{ts,js}, but not: .*-lock.json|.*/state/.*
