Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: format, tests

format:
  run: npx --no-install git-format-staged --formatter 'dprint fmt --stdin "{}"' {staged_files}

tests:
  run: jest --passWithNoTests --findRelatedTests {staged_files}

chore(deps): update enricomi/publish-unit-test-result-action action to v1.32
  .github/workflows/code.yaml
Due: none

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore: cleanup
  .github/renovate.json5
  .idea/misc.xml
Due: none

chore(deps): update dependency @pulumi/pulumi to v3.29.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.27
  package-lock.json
  package.json
Due: format

ci: do not create PR comments for unit test results
  .github/workflows/code.yaml
Due: none

chore: update lefthook config
  commitlint.config.js
  lefthook.yml
  package-lock.json
  package.json
Due: format, tests

chore: update renovate config
  .github/renovate.json5
Due: none

chore(deps): update actions/setup-node digest to 56337c4
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update crazy-max/ghaction-import-gpg digest to 4d58d49
  .github/workflows/iac.yaml
Due: none

chore(deps): update actions/checkout digest to dcd71f6
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update stefanzweifel/git-auto-commit-action digest to 49620cd
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.168
  package-lock.json
  package.json
Due: format

chore(deps): update dependency dprint to v0.25.1
  package-lock.json
  package.json
Due: format

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/code.yaml
Due: none

style: format fixes
  src/cloud/github/repository.spec.ts
Due: format, tests

fix: removed unneeded npm packages and scripts
  package-lock.json
  package.json
Due: format

chore: updated deno lint config
  denolint.json
  denolint.jsonc
Due: format

chore: updated the lefhook configuration
  lefthook.yml
Due: none

docs: update readme with the new repo/development setup instructions
  README.md
Due: format

chore: initial justfile configuration
  justfile
Due: none

chore(deps): update dependency dprint to v0.26.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.170
  package-lock.json
  package.json
Due: format

chore: improved justfile
  justfile
Due: none

chore(deps): update dependency @pulumi/pulumi to v3.30.0
  package-lock.json
  package.json
Due: format

chore: updated package-lock.json file
  package-lock.json
Due: none

chore: misc
  justfile
Due: none

docs: fixed typo in the justfile
  justfile
Due: none

ci: fixes for the code workflow
  .github/workflows/code.yaml
  justfile
Due: none

chore: testing
  justfile
Due: none

chore(deps): roll back github/codeql-action action to v1.1.8
  .github/workflows/code.yaml
Due: none

chore(deps): update github/codeql-action action to v2
  .github/workflows/code.yaml
Due: none

chore(deps): pin extractions/setup-just action to v1
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency jest-junit to v13.2.0
  package-lock.json
  package.json
Due: format

chore: encrypt data within the data folder
  .gitattributes
Due: none

chore: init data folder
  data/info.txt
Due: none

add pulumi cloudflare provider
  package-lock.json
  package.json
Due: format

chore: init data folder
  .gitattributes
Due: none

chore: init data folder
  data/_info.txt
  data/info.txt
Due: none

Path conditions:
  format: any of: *.{ts,js,json,md}, but not: .*-lock.json|.*/state/.*
  tests: any of: *.{ts,js}, but not: .*-lock.json|.*/state/.*
