Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tests

lint:
  run: just lint {staged_files}

format:
  run: just format {staged_files} && git add {staged_files}

tests:
  run: just test {staged_files}

chore(deps): update dependency @pulumi/pulumi to v3.33.2
  package-lock.json
  package.json
Due: format

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update dependency @swc/core to v1.2.196
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.37
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.38
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/jest to v27.5.2
  package-lock.json
  package.json
Due: format

chore(deps): update github/codeql-action action to v2.1.12
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @types/jest to v28
  package-lock.json
  package.json
Due: format

chore(deps): update enricomi/publish-unit-test-result-action action to v1.37
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency typescript to v4.7.3
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/jest to v28.1.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.197
  package-lock.json
  package.json
Due: format

chore(deps): update actions/setup-node digest to eeb10cf
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency jest to v28.1.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.39
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.34.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.34.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/random to v4.8.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @tsconfig/node16 to v1.0.3
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.198
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.203
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.40
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.41
  package-lock.json
  package.json
Due: format

fix(just): resolved issues with the init script
  justfile
Due: none

chore: wip
  .idea/misc.xml
  Pulumi.production.yaml
  package-lock.json
  package.json
  src/cloud/cloudflare/resource_default_domain.ts
  src/cloud/jamf_now/info.txt
  src/cloud/tailscale/index.ts
  src/cloud/tailscale/tailnet.ts
  src/cloud/tailscale/tailnet_default.ts
  src/index.ts
  state/.pulumi/backups/production/production.1651701900093694000.json
  state/.pulumi/backups/production/production.1651701900093694000.json.attrs
  state/.pulumi/backups/production/production.1651701972598499000.json
  state/.pulumi/backups/production/production.1651701972598499000.json.attrs
  state/.pulumi/backups/production/production.1651702073158364000.json
  state/.pulumi/backups/production/production.1651702073158364000.json.attrs
  state/.pulumi/history/production/production-1651701900090129000.checkpoint.json
  state/.pulumi/history/production/production-1651701900090129000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1651701900090129000.history.json
  state/.pulumi/history/production/production-1651701900090129000.history.json.attrs
  state/.pulumi/history/production/production-1651701972593700000.checkpoint.json
  state/.pulumi/history/production/production-1651701972593700000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1651701972593700000.history.json
  state/.pulumi/history/production/production-1651701972593700000.history.json.attrs
  state/.pulumi/history/production/production-1651702073152745000.checkpoint.json
  state/.pulumi/history/production/production-1651702073152745000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1651702073152745000.history.json
  state/.pulumi/history/production/production-1651702073152745000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: lint, format, tests

fix(cloudflare): properly ordered resources
  data/cloudflare/origin.cert
  data/cloudflare/origin.key
  src/cloud/cloudflare/index.ts
  src/cloud/cloudflare/site.ts
  src/cloud/cloudflare/site_default_domain.ts
  state/.pulumi/backups/production/production.1655820964061914000.json
  state/.pulumi/backups/production/production.1655820964061914000.json.attrs
  state/.pulumi/backups/production/production.1655821592833527000.json
  state/.pulumi/backups/production/production.1655821592833527000.json.attrs
  state/.pulumi/backups/production/production.1655821752973507000.json
  state/.pulumi/backups/production/production.1655821752973507000.json.attrs
  state/.pulumi/backups/production/production.1655821888506163000.json
  state/.pulumi/backups/production/production.1655821888506163000.json.attrs
  state/.pulumi/history/production/production-1655820964059532000.checkpoint.json
  state/.pulumi/history/production/production-1655820964059532000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1655820964059532000.history.json
  state/.pulumi/history/production/production-1655820964059532000.history.json.attrs
  state/.pulumi/history/production/production-1655821592830993000.checkpoint.json
  state/.pulumi/history/production/production-1655821592830993000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1655821592830993000.history.json
  state/.pulumi/history/production/production-1655821592830993000.history.json.attrs
  state/.pulumi/history/production/production-1655821752969966000.checkpoint.json
  state/.pulumi/history/production/production-1655821752969966000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1655821752969966000.history.json
  state/.pulumi/history/production/production-1655821752969966000.history.json.attrs
  state/.pulumi/history/production/production-1655821888503667000.checkpoint.json
  state/.pulumi/history/production/production-1655821888503667000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1655821888503667000.history.json
  state/.pulumi/history/production/production-1655821888503667000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: lint, format, tests

chore: state update
  state/.pulumi/backups/production/production.1664720166883560000.json
  state/.pulumi/backups/production/production.1664720166883560000.json.attrs
  state/.pulumi/backups/production/production.1664720357020941000.json
  state/.pulumi/backups/production/production.1664720357020941000.json.attrs
  state/.pulumi/history/production/production-1664720166882150000.checkpoint.json
  state/.pulumi/history/production/production-1664720166882150000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1664720166882150000.history.json
  state/.pulumi/history/production/production-1664720166882150000.history.json.attrs
  state/.pulumi/history/production/production-1664720357019505000.checkpoint.json
  state/.pulumi/history/production/production-1664720357019505000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1664720357019505000.history.json
  state/.pulumi/history/production/production-1664720357019505000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: format

fix: resolved breaking changes after the @pulumi/github@5.0.0 update
  src/cloud/github/repository_homelab_iac.ts
Due: lint, format, tests

build(lefthook): resolved configuration issues
  lefthook.yml
Due: none

build(dprint): update plugins
  dprint.json
Due: format

chore(just): command to import pulumi resources
  justfile
Due: none

ci(pulumi): resolved ci pipeline issues
  state/.pulumi/backups/ci/ci.1664737305566701000.json
  state/.pulumi/backups/ci/ci.1664737305566701000.json.attrs
  state/.pulumi/history/ci/ci-1664737305565427000.checkpoint.json
  state/.pulumi/history/ci/ci-1664737305565427000.checkpoint.json.attrs
  state/.pulumi/history/ci/ci-1664737305565427000.history.json
  state/.pulumi/history/ci/ci-1664737305565427000.history.json.attrs
  state/.pulumi/stacks/ci.json.bak
  state/.pulumi/stacks/ci.json.bak.attrs
Due: format

build(lefthook): fixed config issues
  lefthook.yml
Due: none

ci: cleanup old pulumi backups
  package-lock.json
  package.json
Due: format

ci: cleanup old pulumi backups
  .github/workflows/cleanup.yaml
  scripts/cleanup_state_backups.mjs
Due: format

ci(cleanup): fixes
  .github/workflows/cleanup.yaml
Due: none

chore: code cleanup
  src/cloud/cloudflare/cloudflare_ip_range.ts
  src/cloud/cloudflare/cloudflare_origin_ca_root_certificate.ts
  src/cloud/cloudflare/site_default_domain.ts
  src/cloud/github/github_ip_range.ts
  src/cloud/github/index.ts
  src/cloud/index.ts
  src/index.ts
  state/.pulumi/backups/production/production.1665264952075684000.json
  state/.pulumi/backups/production/production.1665264952075684000.json.attrs
  state/.pulumi/backups/production/production.1665265617353350000.json
  state/.pulumi/backups/production/production.1665265617353350000.json.attrs
  state/.pulumi/backups/production/production.1665265656674092000.json
  state/.pulumi/backups/production/production.1665265656674092000.json.attrs
  state/.pulumi/history/production/production-1665264952072762000.checkpoint.json
  state/.pulumi/history/production/production-1665264952072762000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1665264952072762000.history.json
  state/.pulumi/history/production/production-1665264952072762000.history.json.attrs
  state/.pulumi/history/production/production-1665265617349878000.checkpoint.json
  state/.pulumi/history/production/production-1665265617349878000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1665265617349878000.history.json
  state/.pulumi/history/production/production-1665265617349878000.history.json.attrs
  state/.pulumi/history/production/production-1665265656672053000.checkpoint.json
  state/.pulumi/history/production/production-1665265656672053000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1665265656672053000.history.json
  state/.pulumi/history/production/production-1665265656672053000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: lint, format, tests

Path conditions:
  lint: any of: *.{js,ts}, but not: .*-lock.json|.*/state/.*
  format: any of: {*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}, but not: .*-lock.json|.*/state/.*
  tests: any of: *.{ts,js}, but not: .*-lock.json|.*/state/.*
