Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tests

lefthook.yml:

extends:
  - .lefthook/lefthook-commit-message.yml

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just lint {staged_files}
    format:
      # since dprint currently has some issues with formatting Dockerfiles, we don't do it during pre-commit
      # glob: "{Dockerfile,*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}"
      glob: "{*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just format {staged_files} && git add {staged_files}
    tests:
      glob: "*.{ts,js}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just test {staged_files}

chore(deps): update codecov/codecov-action digest to 81cd2dc
  .github/workflows/code.yaml
Due: none

chore: added additional helper commands to justfile
  data/_info.txt
  justfile
  package-lock.json
  package.json
Due: format

ci: exclude encrypted data folder during linting
  .github/workflows/general.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.171
  package-lock.json
  package.json
Due: format

chore(deps): update actions/checkout digest to 2541b12
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

feat: initial cloudflare setup
  Pulumi.production.yaml
  src/cloud/cloudflare/cloudflare_ip_range.ts
Due: lint, format, tests

chore: refactored github iac code
  src/cloud/github/github_ip_range.ts
  src/cloud/github/index.ts
  src/cloud/github/repository.ts
  src/cloud/github/repository_homelab_iac.ts
  src/index.ts
  src/util/types.ts
Due: lint, format, tests

chore(deps): update enricomi/publish-unit-test-result-action action to v1.33
  .github/workflows/code.yaml
Due: none

chore(deps): update crazy-max/ghaction-import-gpg digest to e00cb83
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @types/node to v16.11.28
  package-lock.json
  package.json
Due: format

chore(deps): update dependency jest to v28
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.29
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/random to v4.5.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.172
  package-lock.json
  package.json
Due: format

chore(deps): update dependency jest to v28.0.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.30
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.31
  package-lock.json
  package.json
Due: format

fix: removed invalid/unused dependency
  package.json
Due: format

chore(deps): update dependency jest to v28.0.2
  package-lock.json
  package.json
Due: format

chore(deps): update github/codeql-action action to v2.1.9
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.173
  package-lock.json
  package.json
Due: format

chore(deps): update dependency typescript to v4.6.4
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.32
  package-lock.json
  package.json
Due: format

chore(deps): update dependency jest to v28.0.3
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.31.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.174
  package-lock.json
  package.json
Due: format

chore: replaced commitizen with comet for assisted conventional commits
  .czrc
  justfile
  package-lock.json
  package.json
Due: format

chore: cleanup
  .github/renovate.json5
Due: none

chore: cleanup
  justfile
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update dependency @types/node to v16.11.33
  package-lock.json
  package.json
Due: format

chore(just): new command to uninstall the required tooling
  justfile
Due: none

chore(deps): update dependency @types/jest to v27.5.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.175
  package-lock.json
  package.json
Due: format

chore(renovate): use shared renovate configuration
  .github/renovate.json5
Due: none

chore(deps): update dependency @pulumi/pulumi to v3.31.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.176
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.177
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/random to v4.6.0
  package-lock.json
  package.json
Due: format
