Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tests

lint:
  run: just lint {staged_files}

format:
  run: just format {staged_files} && git add {staged_files}

tests:
  run: just test {staged_files}

chore(deps): update dependency @pulumi/pulumi to v3.32.0
  package-lock.json
  package.json
Due: format

chore: temporary store certs until fully managed by pulumi
  data/cloudflare/origin.cert
  data/cloudflare/origin.key
Due: none

chore(github): cleanup
  src/cloud/github/github_ip_range.ts
Due: lint, format, tests

chore(deps): update dependency @pulumi/pulumi to v3.32.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency jest to v28.1.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.178
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/jest to v0.2.21
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.179
  package-lock.json
  package.json
Due: format

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update enricomi/publish-unit-test-result-action action to v1.34
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.181
  package-lock.json
  package.json
Due: format

chore(deps): update github/codeql-action action to v2.1.10
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @types/node to v16.11.34
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.182
  package-lock.json
  package.json
Due: format

chore(deps): update github/codeql-action digest to 03e2e3c
  .github/workflows/code.yaml
Due: none

chore(deps): update github/codeql-action digest to 2f58583
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @types/jest to v27.5.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @types/node to v16.11.35
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.183
  package-lock.json
  package.json
Due: format

chore(deps): update enricomi/publish-unit-test-result-action action to v1.35
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.185
  package-lock.json
  package.json
Due: format

chore(deps): update actions/setup-node digest to 17f8bd9
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @types/node to v16.11.36
  package-lock.json
  package.json
Due: format

chore(deps): update github/codeql-action action to v2.1.11
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.186
  package-lock.json
  package.json
Due: format

chore(deps): update enricomi/publish-unit-test-result-action action to v1.36
  .github/workflows/code.yaml
Due: none

chore(deps): update dependency @pulumi/random to v4.7.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/pulumi to v3.33.1
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.187
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.188
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.189
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @pulumi/cloudflare to v4.7.0
  package-lock.json
  package.json
Due: format

chore(deps): update dependency @swc/core to v1.2.192
  package-lock.json
  package.json
Due: format

chore(deps): update dependency typescript to v4.7.2
  package-lock.json
  package.json
Due: format

chore(deps): update pulumi/actions digest to d1936f6
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @swc/core to v1.2.194
  package-lock.json
  package.json
Due: format

chore(deps): update crazy-max/ghaction-import-gpg action to v5
  .github/workflows/iac.yaml
Due: none

chore(deps): update dependency @pulumi/github to v4.12.0
  package-lock.json
  package.json
Due: format

Path conditions:
  lint: any of: *.{js,ts}, but not: .*-lock.json|.*/state/.*
  format: any of: {*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}, but not: .*-lock.json|.*/state/.*
  tests: any of: *.{ts,js}, but not: .*-lock.json|.*/state/.*
