Repository busybeaver/homelab-iac: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tests

lefthook.yml:

extends:
  - .lefthook/lefthook-commit-message.yml

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just lint {staged_files}
    format:
      # since dprint currently has some issues with formatting Dockerfiles, we don't do it during pre-commit
      # glob: "{Dockerfile,*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}"
      glob: "{*.ts,*.js,*.cjs,*.mjs,*.json,*.md,*.toml}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just format {staged_files} && git add {staged_files}
    tests:
      glob: "*.{ts,js}"
      exclude: ".*-lock.json|.*\/state\/.*"
      run: just test {staged_files}

ci: fix script if no files need deletion
  scripts/cleanup_state_backups.mjs
Due: format

ci: minor improvements
  scripts/cleanup_state_backups.mjs
Due: format

ci: migrated github actions deprecations
  .github/workflows/iac.yaml
Due: none

ci: use explicit versioning for github actions
  .github/workflows/cleanup.yaml
  .github/workflows/code.yaml
  .github/workflows/iac.yaml
Due: none

ci(repository): run CI also on changed PRs
  .github/workflows/repository.yaml
Due: none

ci(repository): also run on pull and PR events
  .github/workflows/repository.yaml
Due: none

ci(code): update just, speed up installation of npm dependencies
  .github/workflows/code.yaml
Due: none

ci(code): move npm audit check to separate job
  .github/workflows/code.yaml
Due: none

chore: pin workflow-references
  .github/workflows/general.yaml
Due: none

chore: pin workflow-references
  .github/workflows/repository.yaml
Due: none

ci: pin workflow file references (#505)
  .github/workflows/general.yaml
  .github/workflows/repository.yaml
Due: none

feat(tailscale): get all registred devices
  src/cloud/tailscale/index.ts
  src/cloud/tailscale/tailnet.ts
  src/cloud/tailscale/tailnet_devices.ts
Due: lint, format, tests

chore: state update
  state/.pulumi/backups/production/production.1665333564062650000.json
  state/.pulumi/backups/production/production.1665333564062650000.json.attrs
  state/.pulumi/backups/production/production.1665333695139965000.json
  state/.pulumi/backups/production/production.1665333695139965000.json.attrs
  state/.pulumi/history/production/production-1665333564059922000.checkpoint.json
  state/.pulumi/history/production/production-1665333564059922000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1665333564059922000.history.json
  state/.pulumi/history/production/production-1665333564059922000.history.json.attrs
  state/.pulumi/history/production/production-1665333695136140000.checkpoint.json
  state/.pulumi/history/production/production-1665333695136140000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1665333695136140000.history.json
  state/.pulumi/history/production/production-1665333695136140000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: format

ci: automatically update the used just version via renovate
  .github/workflows/code.yaml
Due: none

style: resolve yamllint issues
  .github/workflows/code.yaml
Due: none

feat: cloud-init setup
  src/cloud/cloud-init/index.ts
  src/cloud/cloud-init/ubuntu.ts
  src/cloud/index.ts
  state/.pulumi/backups/production/production.1682279926427964000.json
  state/.pulumi/backups/production/production.1682279926427964000.json.attrs
  state/.pulumi/backups/production/production.1686415301081248000.json
  state/.pulumi/backups/production/production.1686415301081248000.json.attrs
  state/.pulumi/backups/production/production.1686415402380608000.json
  state/.pulumi/backups/production/production.1686415402380608000.json.attrs
  state/.pulumi/backups/production/production.1686416027790976000.json
  state/.pulumi/backups/production/production.1686416027790976000.json.attrs
  state/.pulumi/backups/production/production.1686416041091605000.json
  state/.pulumi/backups/production/production.1686416041091605000.json.attrs
  state/.pulumi/history/production/production-1682279926425617000.checkpoint.json
  state/.pulumi/history/production/production-1682279926425617000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1682279926425617000.history.json
  state/.pulumi/history/production/production-1682279926425617000.history.json.attrs
  state/.pulumi/history/production/production-1686415301078528000.checkpoint.json
  state/.pulumi/history/production/production-1686415301078528000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1686415301078528000.history.json
  state/.pulumi/history/production/production-1686415301078528000.history.json.attrs
  state/.pulumi/history/production/production-1686415402378311000.checkpoint.json
  state/.pulumi/history/production/production-1686415402378311000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1686415402378311000.history.json
  state/.pulumi/history/production/production-1686415402378311000.history.json.attrs
  state/.pulumi/history/production/production-1686416027786547000.checkpoint.json
  state/.pulumi/history/production/production-1686416027786547000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1686416027786547000.history.json
  state/.pulumi/history/production/production-1686416027786547000.history.json.attrs
  state/.pulumi/history/production/production-1686416041089176000.checkpoint.json
  state/.pulumi/history/production/production-1686416041089176000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1686416041089176000.history.json
  state/.pulumi/history/production/production-1686416041089176000.history.json.attrs
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: lint, format, tests

chore(tailscale): cleanup
  src/cloud/tailscale/tailnet_default.ts
Due: lint, format, tests

chore(oci): add authentication
  Pulumi.production.yaml
Due: none

feat: refactored ComponentResource
  src/cloud/cloudflare/index.ts
  src/cloud/cloudflare/site.ts
  src/cloud/cloudflare/site_default_domain.ts
  src/cloud/github/repository.ts
  src/cloud/github/repository_homelab_iac.ts
  src/cloud/tailscale/tailnet.ts
  src/cloud/tailscale/tailnet_default.ts
  src/util/base_component_resource.ts
  src/util/index.ts
  src/util/types.ts
Due: lint, format, tests

ci(code): speed up npm install
  .github/workflows/code.yaml
Due: none

feat(oracle): initial oracle cloud infrastructure setup
  .gitattributes
  package-lock.json
  package.json
  src/cloud/cloud-init/ubuntu.ts
  src/cloud/index.ts
  src/cloud/oracle/index.ts
  src/cloud/oracle/oci.ts
  src/cloud/oracle/public_vcn.ts
Due: lint, format, tests

chore: cleanup
  src/cloud/github/repository_homelab_adblock.ts
  src/cloud/oracle/public_vcn.ts
  src/util/base_component_resource.ts
  src/util/index.ts
  src/util/types.ts
  src/util/utilities.ts
  state/.pulumi/backups/production/production.1689519954371727000.json
  state/.pulumi/backups/production/production.1689519954371727000.json.attrs
  state/.pulumi/history/production/production-1689519954368811000.checkpoint.json
  state/.pulumi/history/production/production-1689519954368811000.checkpoint.json.attrs
  state/.pulumi/history/production/production-1689519954368811000.history.json
  state/.pulumi/history/production/production-1689519954368811000.history.json.attrs
  state/.pulumi/stacks/production.json
  state/.pulumi/stacks/production.json.bak
  state/.pulumi/stacks/production.json.bak.attrs
Due: lint, format, tests

chore: cleanup
  src/cloud/cloudflare/site_default_domain.ts
  src/cloud/github/repository_homelab_iac.ts
  src/cloud/tailscale/tailnet_default.ts
  state/.pulumi/stacks/production.json
Due: lint, format, tests

chore: temp commit before moving
  src/cloud/cloudflare/account.ts
  src/cloud/cloudflare/account_default.ts
  src/cloud/cloudflare/index.ts
  src/cloud/cloudflare/site.ts
  src/cloud/cloudflare/site_default_domain.ts
  src/cloud/github/repository_homelab_adblock.ts
  src/cloud/github/repository_homelab_iac.ts
  src/cloud/nextdns/nextdns.ts
  src/cloud/nextdns/nextdns_profile.ts
  src/cloud/nextdns/nextdns_profile_provider.ts
  src/cloud/nextdns/types.ts
  src/cloud/tailscale/tailnet_default.ts
  src/util/base_component_resource.ts
  src/util/types.ts
Due: lint, format, tests

ci: harden github runners
  .github/workflows/cleanup.yaml
Due: none

ci: harden github runners
  .github/workflows/code.yaml
Due: none

ci: harden github runners
  .github/workflows/iac.yaml
Due: none

ci: update shared ci pipeline
  .github/workflows/repository.yaml
Due: none

ci: update shared ci pipeline
  .github/workflows/general.yaml
Due: none

ci: fix reference
  .github/workflows/general.yaml
Due: none
